@import "tailwindcss";


@font-face {
  font-family: "Lexend";
  src: url("/fonts/Lexend.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap; 
}

@theme {
  /* fonts */
  --font-sans: "Lexend", sans-serif;
  /* light theme colors */
  --color-primary:  #215482;
  --color-secondary: #C7E1FC;
  --color-input:   #E8EDF0;
  --color-text: #57738F;
  --color-white: #FAFAFA;
  --color-black: #0F141A;
  --color-hover: #2A6DA7;
  --color-secondary-hover: #90C3F9;
  --color-error: #D10000;
  /* dark theme colors */
  --color-primary-dark:  #121A21;
  --color-secondary-dark: #293642;
  --color-input-dark:   #293642;
  --color-text-dark: #99B0C2;


}

@layer utilities {
  .heading {
    @apply mt-5 text-4xl font-bold text-primary dark:text-text-dark mb-10 md:mb-1;
  }
  .label{
    @apply block mb-2  text-[18px] font-medium dark:text-white;
  }
  .small-label{
    @apply block mb-2  text-[14px] font-normal dark:text-white;
  }
  .error{
    @apply text-error text-sm mb-2 font-thin;
  }

}

@layer base {
  html {
    @apply transition-colors duration-300;
    font-family: var(--font-sans);
  }

}




@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
